
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 112.3rem;
}.frame-20287-7nH {
  width: 100%;
  display: flex;
  column-gap: 1.3rem;
  align-items: center;

  .group-19540-sFf {
    flex-direction: column;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:cff9a28e2c2d8a9ca3e4bd8aa379bb482f0dadb2');
    background-color: rgba(0, 0, 0, 0.4099999964);
    align-items: center;
    border-radius: 1.6rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
    background-repeat: no-repeat;
    flex-shrink: 0;
    padding: 19rem 2.2rem 2.8rem 2.1rem;
    width: 27.1rem;
    height: 27.1rem;
    display: flex;
    background-position: center;
    box-sizing: border-box;

    .groom-to-perfection-aloe-vera-hair-mask-for-mens-hair-care-ndX {
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 0.3rem;
      max-width: 22.8rem;
      letter-spacing: 0.018rem;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.6rem;
      line-height: 1.1725;
    }
    .by-mars-by-ghc-on-jun-22-2022-sey {
      letter-spacing: 0.018rem;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 7.6rem;
    }
  }
  .group-19559-gsK {
    box-sizing: border-box;
    height: 27.1rem;
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4099999964);
    flex-shrink: 0;
    padding: 17rem 3.9rem 2.8rem 2.1rem;
    width: 27.1rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:b3f866a9cf9ef6e20681265b6048fe42067fec5d');
    border-radius: 1.6rem;

    .coffee-for-hair-growth-brew-up-longer-thicker-hair-with-coffee-cFB {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.1725;
      letter-spacing: 0.018rem;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      margin-bottom: 0.4rem;
      max-width: 21.1rem;
    }
    .by-mars-by-ghc-on-jun-22-2022-7Bw {
      white-space: nowrap;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.1725;
      letter-spacing: 0.018rem;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
    }
  }
  .group-19560-M6H {
    background-image: url('REPLACE_IMAGE:2446e473b8e7c6c619bc37f83404db42d9cff7e8');
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 16.6rem 4.2rem 2.8rem 2.1rem;
    width: 27.1rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
    background-size: 100% 100%;
    height: 27.1rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.6rem;
    background-color: rgba(0, 0, 0, 0.4099999964);

    .maximizing-hair-growth-and-health-7-benefits-of-biotin-hair-gummies-sKX {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      margin-bottom: 0.8rem;
      max-width: 20.8rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.1725;
      letter-spacing: 0.018rem;
    }
    .by-mars-by-ghc-on-jun-22-2022-NXB {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.1725;
      letter-spacing: 0.018rem;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .group-19561-6Lh {
    height: 27.1rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1199999973);
    background-position: center;
    border-radius: 1.6rem;
    background-color: rgba(0, 0, 0, 0.4099999964);
    flex-shrink: 0;
    padding: 18.6rem 2.1rem 2.8rem 2.1rem;
    width: 27.1rem;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:8a1d7c222980a705729ca8279458b18ba9d13769');
    box-sizing: border-box;
    background-size: 100% 100%;

    .vitamin-e-tabs-for-hair-get-lustrous-hair-in-no-time-cK3 {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      margin-bottom: 0.7rem;
      max-width: 19.8rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.1725;
      letter-spacing: 0.018rem;
    }
    .by-mars-by-ghc-on-jun-22-2022-7mb {
      letter-spacing: 0.018rem;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.1725;
    }
  }
}
